In [4]:
import pandas as pd

# Define file path
csv_path = r'C:\Users\Acer\Documents\BDA3.3\Project 1- Web scraping\imdb_top_100_movies.csv'

# Load CSV with correct encoding
df = pd.read_csv(csv_path, encoding='latin1')  # or encoding='ISO-8859-1'

# Display first few rows
df.head()

                      Title  Year  Rating
0  The Shawshank Redemption  1994     9.3
1             The Godfather  1972     9.2
2           The Dark Knight  2008     9.0
3     The Godfather Part II  1974     9.0
4              12 Angry Men  1957     9.0

In [2]:
# Check for missing values
print("\nMissing values before cleaning:")
print(df.isnull().sum())

# Remove rows with missing values
df = df.dropna()

# Verify missing values are removed
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Missing values before cleaning:
Title     0
Year      0
Rating    0
dtype: int64

Missing values after cleaning:
Title     0
Year      0
Rating    0
dtype: int64

In [5]:
# Strip leading and trailing spaces from text columns
df['Title'] = df['Title'].str.strip()
df['Year'] = df['Year'].astype(str).str.strip()
df['Rating'] = df['Rating'].astype(str).str.strip()

In [6]:
# Convert 'Year' to integer (coerce errors to NaN)
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Convert 'Rating' to float
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

# Drop rows where conversion failed
df = df.dropna()

# Convert types again after dropping invalid rows
df['Year'] = df['Year'].astype(int)
df['Rating'] = df['Rating'].astype(float)

# Verify data types
df.dtypes

Title      object
Year        int32
Rating    float64
dtype: object

In [7]:
# Count duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Remove duplicates if any exist
df = df.drop_duplicates()

# Reset index after removing duplicates
df.reset_index(drop=True, inplace=True)

Number of duplicate rows: 0

In [8]:
# Save the cleaned dataset
cleaned_file_path = r"C:\Users\Acer\Documents\BDA3.3\Project 1- Web scraping\cleaned_imdb_top_100_movies.csv"
df.to_csv(cleaned_file_path, index=False)

print(f"\n✅ Cleaned data saved successfully at: {cleaned_file_path}")

✅ Cleaned data saved successfully at: C:\Users\Acer\Documents\BDA3.3\Project 1- Web scraping\cleaned_imdb_top_100_movies.csv